@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: url("./media/pexels-anete-lusina-4790578.jpg");
    background-size: cover;
  }

  .container {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: white;
    width: 400px;
    height: 500px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    text-align: center;
  }

  .container h1 {
    font-size: 46px;
  }
  
  .container input {
    width: 200px;
    padding: 15px;
  }
  
  .container button {
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    margin-top: 25px;
    width: 230px;
    padding: 15px 70px;
  }